<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.abs.mobile.dao.TGroupbuyJiangMapper" >
  <resultMap id="BaseResultMap" type="com.abs.mobile.domain.TGroupbuyJiang" >
    <id column="item_id" property="itemId" jdbcType="INTEGER" />
    <id column="phase_num" property="phaseNum" jdbcType="INTEGER" />
    <id column="kaijiang_que" property="kaijiangQue" jdbcType="INTEGER" />
    <result column="tiaojian_text" property="tiaojianText" jdbcType="VARCHAR" />
    <result column="param1" property="param1" jdbcType="VARCHAR" />
    <result column="param2" property="param2" jdbcType="VARCHAR" />
    <result column="param3" property="param3" jdbcType="VARCHAR" />
    <result column="param4" property="param4" jdbcType="VARCHAR" />
    <result column="param5" property="param5" jdbcType="VARCHAR" />
    <result column="param6" property="param6" jdbcType="VARCHAR" />
    <result column="del_flg" property="delFlg" jdbcType="CHAR" />
    <result column="c_date" property="cDate" jdbcType="TIMESTAMP" />
    <result column="c_user" property="cUser" jdbcType="VARCHAR" />
    <result column="u_date" property="uDate" jdbcType="TIMESTAMP" />
    <result column="u_user" property="uUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    item_id, phase_num, kaijiang_que, tiaojian_text, param1, param2, param3, param4, 
    param5, param6, del_flg, c_date, c_user, u_date, u_user
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.abs.mobile.domain.TGroupbuyJiangKey" >
    select 
    <include refid="Base_Column_List" />
    from t_groupbuy_jiang
    where item_id = #{itemId,jdbcType=INTEGER}
      and phase_num = #{phaseNum,jdbcType=INTEGER}
      and kaijiang_que = #{kaijiangQue,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.abs.mobile.domain.TGroupbuyJiangKey" >
    delete from t_groupbuy_jiang
    where item_id = #{itemId,jdbcType=INTEGER}
      and phase_num = #{phaseNum,jdbcType=INTEGER}
      and kaijiang_que = #{kaijiangQue,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.abs.mobile.domain.TGroupbuyJiang" >
    insert into t_groupbuy_jiang (item_id, phase_num, kaijiang_que, 
      tiaojian_text, param1, param2, 
      param3, param4, param5, 
      param6, del_flg, c_date, 
      c_user, u_date, u_user
      )
    values (#{itemId,jdbcType=INTEGER}, #{phaseNum,jdbcType=INTEGER}, #{kaijiangQue,jdbcType=INTEGER}, 
      #{tiaojianText,jdbcType=VARCHAR}, #{param1,jdbcType=VARCHAR}, #{param2,jdbcType=VARCHAR}, 
      #{param3,jdbcType=VARCHAR}, #{param4,jdbcType=VARCHAR}, #{param5,jdbcType=VARCHAR}, 
      #{param6,jdbcType=VARCHAR}, #{delFlg,jdbcType=CHAR}, #{cDate,jdbcType=TIMESTAMP}, 
      #{cUser,jdbcType=VARCHAR}, #{uDate,jdbcType=TIMESTAMP}, #{uUser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.abs.mobile.domain.TGroupbuyJiang" >
    insert into t_groupbuy_jiang
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="phaseNum != null" >
        phase_num,
      </if>
      <if test="kaijiangQue != null" >
        kaijiang_que,
      </if>
      <if test="tiaojianText != null" >
        tiaojian_text,
      </if>
      <if test="param1 != null" >
        param1,
      </if>
      <if test="param2 != null" >
        param2,
      </if>
      <if test="param3 != null" >
        param3,
      </if>
      <if test="param4 != null" >
        param4,
      </if>
      <if test="param5 != null" >
        param5,
      </if>
      <if test="param6 != null" >
        param6,
      </if>
      <if test="delFlg != null" >
        del_flg,
      </if>
      <if test="cDate != null" >
        c_date,
      </if>
      <if test="cUser != null" >
        c_user,
      </if>
      <if test="uDate != null" >
        u_date,
      </if>
      <if test="uUser != null" >
        u_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="phaseNum != null" >
        #{phaseNum,jdbcType=INTEGER},
      </if>
      <if test="kaijiangQue != null" >
        #{kaijiangQue,jdbcType=INTEGER},
      </if>
      <if test="tiaojianText != null" >
        #{tiaojianText,jdbcType=VARCHAR},
      </if>
      <if test="param1 != null" >
        #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null" >
        #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null" >
        #{param3,jdbcType=VARCHAR},
      </if>
      <if test="param4 != null" >
        #{param4,jdbcType=VARCHAR},
      </if>
      <if test="param5 != null" >
        #{param5,jdbcType=VARCHAR},
      </if>
      <if test="param6 != null" >
        #{param6,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        #{delFlg,jdbcType=CHAR},
      </if>
      <if test="cDate != null" >
        #{cDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null" >
        #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="uDate != null" >
        #{uDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uUser != null" >
        #{uUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.abs.mobile.domain.TGroupbuyJiang" >
    update t_groupbuy_jiang
    <set >
      <if test="tiaojianText != null" >
        tiaojian_text = #{tiaojianText,jdbcType=VARCHAR},
      </if>
      <if test="param1 != null" >
        param1 = #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null" >
        param2 = #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null" >
        param3 = #{param3,jdbcType=VARCHAR},
      </if>
      <if test="param4 != null" >
        param4 = #{param4,jdbcType=VARCHAR},
      </if>
      <if test="param5 != null" >
        param5 = #{param5,jdbcType=VARCHAR},
      </if>
      <if test="param6 != null" >
        param6 = #{param6,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        del_flg = #{delFlg,jdbcType=CHAR},
      </if>
      <if test="cDate != null" >
        c_date = #{cDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null" >
        c_user = #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="uDate != null" >
        u_date = #{uDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uUser != null" >
        u_user = #{uUser,jdbcType=VARCHAR},
      </if>
    </set>
    where item_id = #{itemId,jdbcType=INTEGER}
      and phase_num = #{phaseNum,jdbcType=INTEGER}
      and kaijiang_que = #{kaijiangQue,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.abs.mobile.domain.TGroupbuyJiang" >
    update t_groupbuy_jiang
    set tiaojian_text = #{tiaojianText,jdbcType=VARCHAR},
      param1 = #{param1,jdbcType=VARCHAR},
      param2 = #{param2,jdbcType=VARCHAR},
      param3 = #{param3,jdbcType=VARCHAR},
      param4 = #{param4,jdbcType=VARCHAR},
      param5 = #{param5,jdbcType=VARCHAR},
      param6 = #{param6,jdbcType=VARCHAR},
      del_flg = #{delFlg,jdbcType=CHAR},
      c_date = #{cDate,jdbcType=TIMESTAMP},
      c_user = #{cUser,jdbcType=VARCHAR},
      u_date = #{uDate,jdbcType=TIMESTAMP},
      u_user = #{uUser,jdbcType=VARCHAR}
    where item_id = #{itemId,jdbcType=INTEGER}
      and phase_num = #{phaseNum,jdbcType=INTEGER}
      and kaijiang_que = #{kaijiangQue,jdbcType=INTEGER}
  </update>
</mapper>