<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.abs.mobile.dao.TGroupbuyDetailMapper" >
  <resultMap id="BaseResultMap" type="com.abs.mobile.domain.TGroupbuyDetail" >
    <id column="item_id" property="itemId" jdbcType="INTEGER" />
    <id column="phase_num" property="phaseNum" jdbcType="INTEGER" />
    <id column="group_que" property="groupQue" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="item_guige" property="itemGuige" jdbcType="INTEGER" />
    <result column="item_yanse" property="itemYanse" jdbcType="INTEGER" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="del_flg" property="delFlg" jdbcType="CHAR" />
    <result column="c_date" property="cDate" jdbcType="TIMESTAMP" />
    <result column="c_user" property="cUser" jdbcType="VARCHAR" />
    <result column="u_date" property="uDate" jdbcType="TIMESTAMP" />
    <result column="u_user" property="uUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    item_id, phase_num, group_que, order_id, item_guige, item_yanse, open_id, del_flg, 
    c_date, c_user, u_date, u_user
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.abs.mobile.domain.TGroupbuyDetailKey" >
    select 
    <include refid="Base_Column_List" />
    from t_groupbuy_detail
    where item_id = #{itemId,jdbcType=INTEGER}
      and phase_num = #{phaseNum,jdbcType=INTEGER}
      and group_que = #{groupQue,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.abs.mobile.domain.TGroupbuyDetailKey" >
    delete from t_groupbuy_detail
    where item_id = #{itemId,jdbcType=INTEGER}
      and phase_num = #{phaseNum,jdbcType=INTEGER}
      and group_que = #{groupQue,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.abs.mobile.domain.TGroupbuyDetail" >
    insert into t_groupbuy_detail (item_id, phase_num, group_que, 
      order_id, item_guige, item_yanse, 
      open_id, del_flg, c_date, 
      c_user, u_date, u_user
      )
    values (#{itemId,jdbcType=INTEGER}, #{phaseNum,jdbcType=INTEGER}, #{groupQue,jdbcType=INTEGER}, 
      #{orderId,jdbcType=VARCHAR}, #{itemGuige,jdbcType=INTEGER}, #{itemYanse,jdbcType=INTEGER}, 
      #{openId,jdbcType=VARCHAR}, #{delFlg,jdbcType=CHAR}, #{cDate,jdbcType=TIMESTAMP}, 
      #{cUser,jdbcType=VARCHAR}, #{uDate,jdbcType=TIMESTAMP}, #{uUser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.abs.mobile.domain.TGroupbuyDetail" >
    insert into t_groupbuy_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="phaseNum != null" >
        phase_num,
      </if>
      <if test="groupQue != null" >
        group_que,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="itemGuige != null" >
        item_guige,
      </if>
      <if test="itemYanse != null" >
        item_yanse,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="delFlg != null" >
        del_flg,
      </if>
      <if test="cDate != null" >
        c_date,
      </if>
      <if test="cUser != null" >
        c_user,
      </if>
      <if test="uDate != null" >
        u_date,
      </if>
      <if test="uUser != null" >
        u_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="phaseNum != null" >
        #{phaseNum,jdbcType=INTEGER},
      </if>
      <if test="groupQue != null" >
        #{groupQue,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="itemGuige != null" >
        #{itemGuige,jdbcType=INTEGER},
      </if>
      <if test="itemYanse != null" >
        #{itemYanse,jdbcType=INTEGER},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        #{delFlg,jdbcType=CHAR},
      </if>
      <if test="cDate != null" >
        #{cDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null" >
        #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="uDate != null" >
        #{uDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uUser != null" >
        #{uUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.abs.mobile.domain.TGroupbuyDetail" >
    update t_groupbuy_detail
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="itemGuige != null" >
        item_guige = #{itemGuige,jdbcType=INTEGER},
      </if>
      <if test="itemYanse != null" >
        item_yanse = #{itemYanse,jdbcType=INTEGER},
      </if>
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        del_flg = #{delFlg,jdbcType=CHAR},
      </if>
      <if test="cDate != null" >
        c_date = #{cDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null" >
        c_user = #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="uDate != null" >
        u_date = #{uDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uUser != null" >
        u_user = #{uUser,jdbcType=VARCHAR},
      </if>
    </set>
    where item_id = #{itemId,jdbcType=INTEGER}
      and phase_num = #{phaseNum,jdbcType=INTEGER}
      and group_que = #{groupQue,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.abs.mobile.domain.TGroupbuyDetail" >
    update t_groupbuy_detail
    set order_id = #{orderId,jdbcType=VARCHAR},
      item_guige = #{itemGuige,jdbcType=INTEGER},
      item_yanse = #{itemYanse,jdbcType=INTEGER},
      open_id = #{openId,jdbcType=VARCHAR},
      del_flg = #{delFlg,jdbcType=CHAR},
      c_date = #{cDate,jdbcType=TIMESTAMP},
      c_user = #{cUser,jdbcType=VARCHAR},
      u_date = #{uDate,jdbcType=TIMESTAMP},
      u_user = #{uUser,jdbcType=VARCHAR}
    where item_id = #{itemId,jdbcType=INTEGER}
      and phase_num = #{phaseNum,jdbcType=INTEGER}
      and group_que = #{groupQue,jdbcType=INTEGER}
  </update>
</mapper>