<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.abs.mobile.dao.TItemMapper" >
  <resultMap id="BaseResultMap" type="com.abs.mobile.domain.TItem" >
    <id column="item_id" property="itemId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="moren_guige" property="morenGuige" jdbcType="INTEGER" />
    <result column="moren_yanse" property="morenYanse" jdbcType="INTEGER" />
    <result column="guige_text" property="guigeText" jdbcType="VARCHAR" />
    <result column="yanse_text" property="yanseText" jdbcType="VARCHAR" />
    <result column="prent_item_id" property="prentItemId" jdbcType="INTEGER" />
    <result column="del_flg" property="delFlg" jdbcType="CHAR" />
    <result column="c_date" property="cDate" jdbcType="TIMESTAMP" />
    <result column="c_user" property="cUser" jdbcType="CHAR" />
    <result column="u_date" property="uDate" jdbcType="TIMESTAMP" />
    <result column="u_user" property="uUser" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.abs.mobile.domain.TItem" extends="BaseResultMap" >
    <result column="fu_text" property="fuText" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    item_id, name, type, moren_guige, moren_yanse, guige_text, yanse_text, prent_item_id, 
    del_flg, c_date, c_user, u_date, u_user
  </sql>
  <sql id="Blob_Column_List" >
    fu_text
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_item
    where item_id = #{itemId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_item
    where item_id = #{itemId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.abs.mobile.domain.TItem" >
    insert into t_item (item_id, name, type, 
      moren_guige, moren_yanse, guige_text, 
      yanse_text, prent_item_id, del_flg, 
      c_date, c_user, u_date, 
      u_user, fu_text)
    values (#{itemId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{morenGuige,jdbcType=INTEGER}, #{morenYanse,jdbcType=INTEGER}, #{guigeText,jdbcType=VARCHAR}, 
      #{yanseText,jdbcType=VARCHAR}, #{prentItemId,jdbcType=INTEGER}, #{delFlg,jdbcType=CHAR}, 
      #{cDate,jdbcType=TIMESTAMP}, #{cUser,jdbcType=CHAR}, #{uDate,jdbcType=TIMESTAMP}, 
      #{uUser,jdbcType=CHAR}, #{fuText,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.abs.mobile.domain.TItem" >
    insert into t_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="morenGuige != null" >
        moren_guige,
      </if>
      <if test="morenYanse != null" >
        moren_yanse,
      </if>
      <if test="guigeText != null" >
        guige_text,
      </if>
      <if test="yanseText != null" >
        yanse_text,
      </if>
      <if test="prentItemId != null" >
        prent_item_id,
      </if>
      <if test="delFlg != null" >
        del_flg,
      </if>
      <if test="cDate != null" >
        c_date,
      </if>
      <if test="cUser != null" >
        c_user,
      </if>
      <if test="uDate != null" >
        u_date,
      </if>
      <if test="uUser != null" >
        u_user,
      </if>
      <if test="fuText != null" >
        fu_text,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="morenGuige != null" >
        #{morenGuige,jdbcType=INTEGER},
      </if>
      <if test="morenYanse != null" >
        #{morenYanse,jdbcType=INTEGER},
      </if>
      <if test="guigeText != null" >
        #{guigeText,jdbcType=VARCHAR},
      </if>
      <if test="yanseText != null" >
        #{yanseText,jdbcType=VARCHAR},
      </if>
      <if test="prentItemId != null" >
        #{prentItemId,jdbcType=INTEGER},
      </if>
      <if test="delFlg != null" >
        #{delFlg,jdbcType=CHAR},
      </if>
      <if test="cDate != null" >
        #{cDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null" >
        #{cUser,jdbcType=CHAR},
      </if>
      <if test="uDate != null" >
        #{uDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uUser != null" >
        #{uUser,jdbcType=CHAR},
      </if>
      <if test="fuText != null" >
        #{fuText,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.abs.mobile.domain.TItem" >
    update t_item
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="morenGuige != null" >
        moren_guige = #{morenGuige,jdbcType=INTEGER},
      </if>
      <if test="morenYanse != null" >
        moren_yanse = #{morenYanse,jdbcType=INTEGER},
      </if>
      <if test="guigeText != null" >
        guige_text = #{guigeText,jdbcType=VARCHAR},
      </if>
      <if test="yanseText != null" >
        yanse_text = #{yanseText,jdbcType=VARCHAR},
      </if>
      <if test="prentItemId != null" >
        prent_item_id = #{prentItemId,jdbcType=INTEGER},
      </if>
      <if test="delFlg != null" >
        del_flg = #{delFlg,jdbcType=CHAR},
      </if>
      <if test="cDate != null" >
        c_date = #{cDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null" >
        c_user = #{cUser,jdbcType=CHAR},
      </if>
      <if test="uDate != null" >
        u_date = #{uDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uUser != null" >
        u_user = #{uUser,jdbcType=CHAR},
      </if>
      <if test="fuText != null" >
        fu_text = #{fuText,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.abs.mobile.domain.TItem" >
    update t_item
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      moren_guige = #{morenGuige,jdbcType=INTEGER},
      moren_yanse = #{morenYanse,jdbcType=INTEGER},
      guige_text = #{guigeText,jdbcType=VARCHAR},
      yanse_text = #{yanseText,jdbcType=VARCHAR},
      prent_item_id = #{prentItemId,jdbcType=INTEGER},
      del_flg = #{delFlg,jdbcType=CHAR},
      c_date = #{cDate,jdbcType=TIMESTAMP},
      c_user = #{cUser,jdbcType=CHAR},
      u_date = #{uDate,jdbcType=TIMESTAMP},
      u_user = #{uUser,jdbcType=CHAR},
      fu_text = #{fuText,jdbcType=LONGVARCHAR}
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.abs.mobile.domain.TItem" >
    update t_item
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      moren_guige = #{morenGuige,jdbcType=INTEGER},
      moren_yanse = #{morenYanse,jdbcType=INTEGER},
      guige_text = #{guigeText,jdbcType=VARCHAR},
      yanse_text = #{yanseText,jdbcType=VARCHAR},
      prent_item_id = #{prentItemId,jdbcType=INTEGER},
      del_flg = #{delFlg,jdbcType=CHAR},
      c_date = #{cDate,jdbcType=TIMESTAMP},
      c_user = #{cUser,jdbcType=CHAR},
      u_date = #{uDate,jdbcType=TIMESTAMP},
      u_user = #{uUser,jdbcType=CHAR}
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
</mapper>