<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.abs.mobile.dao.TItemMapper" >
  <resultMap id="BaseResultMap" type="com.abs.mobile.domain.TItem" >
    <id column="item_id" property="itemId" jdbcType="INTEGER" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="manufacturer" property="manufacturer" jdbcType="VARCHAR" />
    <result column="owner" property="owner" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="prent_item_id" property="prentItemId" jdbcType="INTEGER" />
    <result column="parm" property="parm" jdbcType="VARCHAR" />
    <result column="xiangou_flg" property="xiangouFlg" jdbcType="CHAR" />
    <result column="xiangou_shuliang" property="xiangouShuliang" jdbcType="INTEGER" />
    <result column="baoyou_flg" property="baoyouFlg" jdbcType="CHAR" />
    <result column="wuliu_id" property="wuliuId" jdbcType="INTEGER" />
    <result column="fapiao_flg" property="fapiaoFlg" jdbcType="CHAR" />
    <result column="fapiao_title" property="fapiaoTitle" jdbcType="VARCHAR" />
    <result column="shouhou_flg" property="shouhouFlg" jdbcType="CHAR" />
    <result column="shouhou_miaoshu" property="shouhouMiaoshu" jdbcType="VARCHAR" />
    <result column="shangjia_flg" property="shangjiaFlg" jdbcType="CHAR" />
    <result column="del_flg" property="delFlg" jdbcType="CHAR" />
    <result column="c_date" property="cDate" jdbcType="TIMESTAMP" />
    <result column="c_user" property="cUser" jdbcType="VARCHAR" />
    <result column="u_date" property="uDate" jdbcType="TIMESTAMP" />
    <result column="u_user" property="uUser" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.abs.mobile.domain.TItem" extends="BaseResultMap" >
    <result column="fu_text" property="fuText" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    item_id, item_name, manufacturer, owner, type, prent_item_id, parm, xiangou_flg, 
    xiangou_shuliang, baoyou_flg, wuliu_id, fapiao_flg, fapiao_title, shouhou_flg, shouhou_miaoshu, 
    shangjia_flg, del_flg, c_date, c_user, u_date, u_user
  </sql>
  <sql id="Blob_Column_List" >
    fu_text
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_item
    where item_id = #{itemId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_item
    where item_id = #{itemId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.abs.mobile.domain.TItem" >
    insert into t_item (item_id, item_name, manufacturer, 
      owner, type, prent_item_id, 
      parm, xiangou_flg, xiangou_shuliang, 
      baoyou_flg, wuliu_id, fapiao_flg, 
      fapiao_title, shouhou_flg, shouhou_miaoshu, 
      shangjia_flg, del_flg, c_date, 
      c_user, u_date, u_user, 
      fu_text)
    values (#{itemId,jdbcType=INTEGER}, #{itemName,jdbcType=VARCHAR}, #{manufacturer,jdbcType=VARCHAR}, 
      #{owner,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{prentItemId,jdbcType=INTEGER}, 
      #{parm,jdbcType=VARCHAR}, #{xiangouFlg,jdbcType=CHAR}, #{xiangouShuliang,jdbcType=INTEGER}, 
      #{baoyouFlg,jdbcType=CHAR}, #{wuliuId,jdbcType=INTEGER}, #{fapiaoFlg,jdbcType=CHAR}, 
      #{fapiaoTitle,jdbcType=VARCHAR}, #{shouhouFlg,jdbcType=CHAR}, #{shouhouMiaoshu,jdbcType=VARCHAR}, 
      #{shangjiaFlg,jdbcType=CHAR}, #{delFlg,jdbcType=CHAR}, #{cDate,jdbcType=TIMESTAMP}, 
      #{cUser,jdbcType=VARCHAR}, #{uDate,jdbcType=TIMESTAMP}, #{uUser,jdbcType=VARCHAR}, 
      #{fuText,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.abs.mobile.domain.TItem" >
    insert into t_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="itemName != null" >
        item_name,
      </if>
      <if test="manufacturer != null" >
        manufacturer,
      </if>
      <if test="owner != null" >
        owner,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="prentItemId != null" >
        prent_item_id,
      </if>
      <if test="parm != null" >
        parm,
      </if>
      <if test="xiangouFlg != null" >
        xiangou_flg,
      </if>
      <if test="xiangouShuliang != null" >
        xiangou_shuliang,
      </if>
      <if test="baoyouFlg != null" >
        baoyou_flg,
      </if>
      <if test="wuliuId != null" >
        wuliu_id,
      </if>
      <if test="fapiaoFlg != null" >
        fapiao_flg,
      </if>
      <if test="fapiaoTitle != null" >
        fapiao_title,
      </if>
      <if test="shouhouFlg != null" >
        shouhou_flg,
      </if>
      <if test="shouhouMiaoshu != null" >
        shouhou_miaoshu,
      </if>
      <if test="shangjiaFlg != null" >
        shangjia_flg,
      </if>
      <if test="delFlg != null" >
        del_flg,
      </if>
      <if test="cDate != null" >
        c_date,
      </if>
      <if test="cUser != null" >
        c_user,
      </if>
      <if test="uDate != null" >
        u_date,
      </if>
      <if test="uUser != null" >
        u_user,
      </if>
      <if test="fuText != null" >
        fu_text,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null" >
        #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="owner != null" >
        #{owner,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="prentItemId != null" >
        #{prentItemId,jdbcType=INTEGER},
      </if>
      <if test="parm != null" >
        #{parm,jdbcType=VARCHAR},
      </if>
      <if test="xiangouFlg != null" >
        #{xiangouFlg,jdbcType=CHAR},
      </if>
      <if test="xiangouShuliang != null" >
        #{xiangouShuliang,jdbcType=INTEGER},
      </if>
      <if test="baoyouFlg != null" >
        #{baoyouFlg,jdbcType=CHAR},
      </if>
      <if test="wuliuId != null" >
        #{wuliuId,jdbcType=INTEGER},
      </if>
      <if test="fapiaoFlg != null" >
        #{fapiaoFlg,jdbcType=CHAR},
      </if>
      <if test="fapiaoTitle != null" >
        #{fapiaoTitle,jdbcType=VARCHAR},
      </if>
      <if test="shouhouFlg != null" >
        #{shouhouFlg,jdbcType=CHAR},
      </if>
      <if test="shouhouMiaoshu != null" >
        #{shouhouMiaoshu,jdbcType=VARCHAR},
      </if>
      <if test="shangjiaFlg != null" >
        #{shangjiaFlg,jdbcType=CHAR},
      </if>
      <if test="delFlg != null" >
        #{delFlg,jdbcType=CHAR},
      </if>
      <if test="cDate != null" >
        #{cDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null" >
        #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="uDate != null" >
        #{uDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uUser != null" >
        #{uUser,jdbcType=VARCHAR},
      </if>
      <if test="fuText != null" >
        #{fuText,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.abs.mobile.domain.TItem" >
    update t_item
    <set >
      <if test="itemName != null" >
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null" >
        manufacturer = #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="owner != null" >
        owner = #{owner,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="prentItemId != null" >
        prent_item_id = #{prentItemId,jdbcType=INTEGER},
      </if>
      <if test="parm != null" >
        parm = #{parm,jdbcType=VARCHAR},
      </if>
      <if test="xiangouFlg != null" >
        xiangou_flg = #{xiangouFlg,jdbcType=CHAR},
      </if>
      <if test="xiangouShuliang != null" >
        xiangou_shuliang = #{xiangouShuliang,jdbcType=INTEGER},
      </if>
      <if test="baoyouFlg != null" >
        baoyou_flg = #{baoyouFlg,jdbcType=CHAR},
      </if>
      <if test="wuliuId != null" >
        wuliu_id = #{wuliuId,jdbcType=INTEGER},
      </if>
      <if test="fapiaoFlg != null" >
        fapiao_flg = #{fapiaoFlg,jdbcType=CHAR},
      </if>
      <if test="fapiaoTitle != null" >
        fapiao_title = #{fapiaoTitle,jdbcType=VARCHAR},
      </if>
      <if test="shouhouFlg != null" >
        shouhou_flg = #{shouhouFlg,jdbcType=CHAR},
      </if>
      <if test="shouhouMiaoshu != null" >
        shouhou_miaoshu = #{shouhouMiaoshu,jdbcType=VARCHAR},
      </if>
      <if test="shangjiaFlg != null" >
        shangjia_flg = #{shangjiaFlg,jdbcType=CHAR},
      </if>
      <if test="delFlg != null" >
        del_flg = #{delFlg,jdbcType=CHAR},
      </if>
      <if test="cDate != null" >
        c_date = #{cDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null" >
        c_user = #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="uDate != null" >
        u_date = #{uDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uUser != null" >
        u_user = #{uUser,jdbcType=VARCHAR},
      </if>
      <if test="fuText != null" >
        fu_text = #{fuText,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.abs.mobile.domain.TItem" >
    update t_item
    set item_name = #{itemName,jdbcType=VARCHAR},
      manufacturer = #{manufacturer,jdbcType=VARCHAR},
      owner = #{owner,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      prent_item_id = #{prentItemId,jdbcType=INTEGER},
      parm = #{parm,jdbcType=VARCHAR},
      xiangou_flg = #{xiangouFlg,jdbcType=CHAR},
      xiangou_shuliang = #{xiangouShuliang,jdbcType=INTEGER},
      baoyou_flg = #{baoyouFlg,jdbcType=CHAR},
      wuliu_id = #{wuliuId,jdbcType=INTEGER},
      fapiao_flg = #{fapiaoFlg,jdbcType=CHAR},
      fapiao_title = #{fapiaoTitle,jdbcType=VARCHAR},
      shouhou_flg = #{shouhouFlg,jdbcType=CHAR},
      shouhou_miaoshu = #{shouhouMiaoshu,jdbcType=VARCHAR},
      shangjia_flg = #{shangjiaFlg,jdbcType=CHAR},
      del_flg = #{delFlg,jdbcType=CHAR},
      c_date = #{cDate,jdbcType=TIMESTAMP},
      c_user = #{cUser,jdbcType=VARCHAR},
      u_date = #{uDate,jdbcType=TIMESTAMP},
      u_user = #{uUser,jdbcType=VARCHAR},
      fu_text = #{fuText,jdbcType=LONGVARCHAR}
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.abs.mobile.domain.TItem" >
    update t_item
    set item_name = #{itemName,jdbcType=VARCHAR},
      manufacturer = #{manufacturer,jdbcType=VARCHAR},
      owner = #{owner,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      prent_item_id = #{prentItemId,jdbcType=INTEGER},
      parm = #{parm,jdbcType=VARCHAR},
      xiangou_flg = #{xiangouFlg,jdbcType=CHAR},
      xiangou_shuliang = #{xiangouShuliang,jdbcType=INTEGER},
      baoyou_flg = #{baoyouFlg,jdbcType=CHAR},
      wuliu_id = #{wuliuId,jdbcType=INTEGER},
      fapiao_flg = #{fapiaoFlg,jdbcType=CHAR},
      fapiao_title = #{fapiaoTitle,jdbcType=VARCHAR},
      shouhou_flg = #{shouhouFlg,jdbcType=CHAR},
      shouhou_miaoshu = #{shouhouMiaoshu,jdbcType=VARCHAR},
      shangjia_flg = #{shangjiaFlg,jdbcType=CHAR},
      del_flg = #{delFlg,jdbcType=CHAR},
      c_date = #{cDate,jdbcType=TIMESTAMP},
      c_user = #{cUser,jdbcType=VARCHAR},
      u_date = #{uDate,jdbcType=TIMESTAMP},
      u_user = #{uUser,jdbcType=VARCHAR}
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
  <!-- 自定义 -->
  <select id="getItemTejia" resultType="map">
        select 
            t2.item_name
            ,t1.item_id
            ,t1.item_guige
            ,t1.item_yanse
            ,t1.guige_text
            ,t1.yanse_text
            ,t1.shuliang
            ,t1.price
            ,t1.price_huiyuan
            ,t1.price_huodong
            ,t1.huodong_date
            ,t1.huodong_flg
            ,t1.zhongliang
            ,t3.path
        FROM 
        	t_item_detail t1  
        		inner JOIN t_item t2
        			on t1.item_id = t2.item_id
        		inner JOIN (
        					SELECT
        						t31.item_id,
        						t31.picture_id,
        						t31.path
        					FROM 
        						t_item_picture t31
        					WHERE 
        						t31.picture_type = '3'
        						and t31.del_flg = '0'
        						and not EXISTS (
        										select 
        												t311.item_id
        										FROM
        												t_item_picture t311
        										WHERE
        												t311.item_id = t31.item_id
        												and t311.picture_type = '3'
        												and t311.del_flg = '0'
        												and t311.picture_id  <![CDATA[<]]> t31.picture_id
                                               )
        					) t3 on t1.item_id = t3.item_id
        
        WHERE
            t1.del_flg='0'
			and t1.huodong_flg='5'
			and t1.huodong_date<![CDATA[<=]]>CURDATE()
        	and not EXISTS(
        					select 
        						t12.item_id 
        					FROM 
        						t_item_detail t12
        					WHERE
        						t1.item_id = t12.item_id
        						and t12.del_flg='0'
        						and t12.huodong_flg='5'
								and t12.huodong_date<![CDATA[<=]]>CURDATE()
        						and (t12.item_yanse <![CDATA[<]]> t1.item_yanse
        							 or t12.item_guige <![CDATA[<]]> t1.item_guige)	
        				)
  </select>
</mapper>
