<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.abs.mobile.dao.TOrderDetailMapper" >
  <resultMap id="BaseResultMap" type="com.abs.mobile.domain.TOrderDetail" >
    <id column="order_id" property="orderId" jdbcType="VARCHAR" />
    <id column="item_id" property="itemId" jdbcType="INTEGER" />
    <id column="item_guige" property="itemGuige" jdbcType="INTEGER" />
    <id column="item_yanse" property="itemYanse" jdbcType="INTEGER" />
    <id column="tuihuo_flg" property="tuihuoFlg" jdbcType="CHAR" />
    <result column="guige_text" property="guigeText" jdbcType="VARCHAR" />
    <result column="yanse_text" property="yanseText" jdbcType="VARCHAR" />
    <result column="owner" property="owner" jdbcType="VARCHAR" />
    <result column="shuliang" property="shuliang" jdbcType="INTEGER" />
    <result column="huodong_flg" property="huodongFlg" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="msg_status" property="msgStatus" jdbcType="VARCHAR" />
    <result column="gongsi_id" property="gongsiId" jdbcType="VARCHAR" />
    <result column="wuliu_code" property="wuliuCode" jdbcType="VARCHAR" />
    <result column="cost" property="cost" jdbcType="DECIMAL" />
    <result column="lv00_lirun" property="lv00Lirun" jdbcType="DECIMAL" />
    <result column="lv01_lirun" property="lv01Lirun" jdbcType="DECIMAL" />
    <result column="lv02_lirun" property="lv02Lirun" jdbcType="DECIMAL" />
    <result column="del_flg" property="delFlg" jdbcType="CHAR" />
    <result column="c_date" property="cDate" jdbcType="TIMESTAMP" />
    <result column="c_user" property="cUser" jdbcType="VARCHAR" />
    <result column="u_date" property="uDate" jdbcType="TIMESTAMP" />
    <result column="u_user" property="uUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, item_id, item_guige, item_yanse, tuihuo_flg, guige_text, yanse_text, owner, 
    shuliang, huodong_flg, price, status, msg_status, gongsi_id, wuliu_code, cost, lv00_lirun, 
    lv01_lirun, lv02_lirun, del_flg, c_date, c_user, u_date, u_user
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.abs.mobile.domain.TOrderDetailKey" >
    select 
    <include refid="Base_Column_List" />
    from t_order_detail
    where order_id = #{orderId,jdbcType=VARCHAR}
      and item_id = #{itemId,jdbcType=INTEGER}
      and item_guige = #{itemGuige,jdbcType=INTEGER}
      and item_yanse = #{itemYanse,jdbcType=INTEGER}
      and tuihuo_flg = #{tuihuoFlg,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.abs.mobile.domain.TOrderDetailKey" >
    delete from t_order_detail
    where order_id = #{orderId,jdbcType=VARCHAR}
      and item_id = #{itemId,jdbcType=INTEGER}
      and item_guige = #{itemGuige,jdbcType=INTEGER}
      and item_yanse = #{itemYanse,jdbcType=INTEGER}
      and tuihuo_flg = #{tuihuoFlg,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.abs.mobile.domain.TOrderDetail" >
    insert into t_order_detail (order_id, item_id, item_guige, 
      item_yanse, tuihuo_flg, guige_text, 
      yanse_text, owner, shuliang, 
      huodong_flg, price, status, 
      msg_status, gongsi_id, wuliu_code, 
      cost, lv00_lirun, lv01_lirun, 
      lv02_lirun, del_flg, c_date, 
      c_user, u_date, u_user
      )
    values (#{orderId,jdbcType=VARCHAR}, #{itemId,jdbcType=INTEGER}, #{itemGuige,jdbcType=INTEGER}, 
      #{itemYanse,jdbcType=INTEGER}, #{tuihuoFlg,jdbcType=CHAR}, #{guigeText,jdbcType=VARCHAR}, 
      #{yanseText,jdbcType=VARCHAR}, #{owner,jdbcType=VARCHAR}, #{shuliang,jdbcType=INTEGER}, 
      #{huodongFlg,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{status,jdbcType=VARCHAR}, 
      #{msgStatus,jdbcType=VARCHAR}, #{gongsiId,jdbcType=VARCHAR}, #{wuliuCode,jdbcType=VARCHAR}, 
      #{cost,jdbcType=DECIMAL}, #{lv00Lirun,jdbcType=DECIMAL}, #{lv01Lirun,jdbcType=DECIMAL}, 
      #{lv02Lirun,jdbcType=DECIMAL}, #{delFlg,jdbcType=CHAR}, #{cDate,jdbcType=TIMESTAMP}, 
      #{cUser,jdbcType=VARCHAR}, #{uDate,jdbcType=TIMESTAMP}, #{uUser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.abs.mobile.domain.TOrderDetail" >
    insert into t_order_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="itemGuige != null" >
        item_guige,
      </if>
      <if test="itemYanse != null" >
        item_yanse,
      </if>
      <if test="tuihuoFlg != null" >
        tuihuo_flg,
      </if>
      <if test="guigeText != null" >
        guige_text,
      </if>
      <if test="yanseText != null" >
        yanse_text,
      </if>
      <if test="owner != null" >
        owner,
      </if>
      <if test="shuliang != null" >
        shuliang,
      </if>
      <if test="huodongFlg != null" >
        huodong_flg,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="msgStatus != null" >
        msg_status,
      </if>
      <if test="gongsiId != null" >
        gongsi_id,
      </if>
      <if test="wuliuCode != null" >
        wuliu_code,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="lv00Lirun != null" >
        lv00_lirun,
      </if>
      <if test="lv01Lirun != null" >
        lv01_lirun,
      </if>
      <if test="lv02Lirun != null" >
        lv02_lirun,
      </if>
      <if test="delFlg != null" >
        del_flg,
      </if>
      <if test="cDate != null" >
        c_date,
      </if>
      <if test="cUser != null" >
        c_user,
      </if>
      <if test="uDate != null" >
        u_date,
      </if>
      <if test="uUser != null" >
        u_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="itemGuige != null" >
        #{itemGuige,jdbcType=INTEGER},
      </if>
      <if test="itemYanse != null" >
        #{itemYanse,jdbcType=INTEGER},
      </if>
      <if test="tuihuoFlg != null" >
        #{tuihuoFlg,jdbcType=CHAR},
      </if>
      <if test="guigeText != null" >
        #{guigeText,jdbcType=VARCHAR},
      </if>
      <if test="yanseText != null" >
        #{yanseText,jdbcType=VARCHAR},
      </if>
      <if test="owner != null" >
        #{owner,jdbcType=VARCHAR},
      </if>
      <if test="shuliang != null" >
        #{shuliang,jdbcType=INTEGER},
      </if>
      <if test="huodongFlg != null" >
        #{huodongFlg,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="msgStatus != null" >
        #{msgStatus,jdbcType=VARCHAR},
      </if>
      <if test="gongsiId != null" >
        #{gongsiId,jdbcType=VARCHAR},
      </if>
      <if test="wuliuCode != null" >
        #{wuliuCode,jdbcType=VARCHAR},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=DECIMAL},
      </if>
      <if test="lv00Lirun != null" >
        #{lv00Lirun,jdbcType=DECIMAL},
      </if>
      <if test="lv01Lirun != null" >
        #{lv01Lirun,jdbcType=DECIMAL},
      </if>
      <if test="lv02Lirun != null" >
        #{lv02Lirun,jdbcType=DECIMAL},
      </if>
      <if test="delFlg != null" >
        #{delFlg,jdbcType=CHAR},
      </if>
      <if test="cDate != null" >
        #{cDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null" >
        #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="uDate != null" >
        #{uDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uUser != null" >
        #{uUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.abs.mobile.domain.TOrderDetail" >
    update t_order_detail
    <set >
      <if test="guigeText != null" >
        guige_text = #{guigeText,jdbcType=VARCHAR},
      </if>
      <if test="yanseText != null" >
        yanse_text = #{yanseText,jdbcType=VARCHAR},
      </if>
      <if test="owner != null" >
        owner = #{owner,jdbcType=VARCHAR},
      </if>
      <if test="shuliang != null" >
        shuliang = #{shuliang,jdbcType=INTEGER},
      </if>
      <if test="huodongFlg != null" >
        huodong_flg = #{huodongFlg,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="msgStatus != null" >
        msg_status = #{msgStatus,jdbcType=VARCHAR},
      </if>
      <if test="gongsiId != null" >
        gongsi_id = #{gongsiId,jdbcType=VARCHAR},
      </if>
      <if test="wuliuCode != null" >
        wuliu_code = #{wuliuCode,jdbcType=VARCHAR},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=DECIMAL},
      </if>
      <if test="lv00Lirun != null" >
        lv00_lirun = #{lv00Lirun,jdbcType=DECIMAL},
      </if>
      <if test="lv01Lirun != null" >
        lv01_lirun = #{lv01Lirun,jdbcType=DECIMAL},
      </if>
      <if test="lv02Lirun != null" >
        lv02_lirun = #{lv02Lirun,jdbcType=DECIMAL},
      </if>
      <if test="delFlg != null" >
        del_flg = #{delFlg,jdbcType=CHAR},
      </if>
      <if test="cDate != null" >
        c_date = #{cDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null" >
        c_user = #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="uDate != null" >
        u_date = #{uDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uUser != null" >
        u_user = #{uUser,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=VARCHAR}
      and item_id = #{itemId,jdbcType=INTEGER}
      and item_guige = #{itemGuige,jdbcType=INTEGER}
      and item_yanse = #{itemYanse,jdbcType=INTEGER}
      and tuihuo_flg = #{tuihuoFlg,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.abs.mobile.domain.TOrderDetail" >
    update t_order_detail
    set guige_text = #{guigeText,jdbcType=VARCHAR},
      yanse_text = #{yanseText,jdbcType=VARCHAR},
      owner = #{owner,jdbcType=VARCHAR},
      shuliang = #{shuliang,jdbcType=INTEGER},
      huodong_flg = #{huodongFlg,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      status = #{status,jdbcType=VARCHAR},
      msg_status = #{msgStatus,jdbcType=VARCHAR},
      gongsi_id = #{gongsiId,jdbcType=VARCHAR},
      wuliu_code = #{wuliuCode,jdbcType=VARCHAR},
      cost = #{cost,jdbcType=DECIMAL},
      lv00_lirun = #{lv00Lirun,jdbcType=DECIMAL},
      lv01_lirun = #{lv01Lirun,jdbcType=DECIMAL},
      lv02_lirun = #{lv02Lirun,jdbcType=DECIMAL},
      del_flg = #{delFlg,jdbcType=CHAR},
      c_date = #{cDate,jdbcType=TIMESTAMP},
      c_user = #{cUser,jdbcType=VARCHAR},
      u_date = #{uDate,jdbcType=TIMESTAMP},
      u_user = #{uUser,jdbcType=VARCHAR}
    where order_id = #{orderId,jdbcType=VARCHAR}
      and item_id = #{itemId,jdbcType=INTEGER}
      and item_guige = #{itemGuige,jdbcType=INTEGER}
      and item_yanse = #{itemYanse,jdbcType=INTEGER}
      and tuihuo_flg = #{tuihuoFlg,jdbcType=CHAR}
  </update>
  <select id="getOrderDetailList" resultType="map" parameterType="java.lang.String">
    select 
        t1.order_id, t1.item_id, t1.item_guige, t1.item_yanse, t1.guige_text, t1.yanse_text, t1.owner, t1.shuliang, 
        t1.huodong_flg, t1.price, t1.status, t1.gongsi_id, t1.wuliu_code, t1.del_flg, t1.c_date, t1.c_user, t1.u_date, t1.u_user,
        t2.item_id,t2.item_name,t3.path
    from t_order_detail t1 
                        LEFT JOIN t_item t2 
                                ON t1.item_id = t2.item_id
                        INNER JOIN t_item_picture t3
                                ON t1.item_id = t3.item_id
    where t1.order_id=#{orderId}
                    and t3.picture_type='3'
                    and t1.tuihuo_flg='0'
  </select>
  
  <select id="getOrderDetailListObj" resultMap="BaseResultMap">
       select 
           <include refid="Base_Column_List" />
       from t_order_detail
       where order_id=#{orderId} and tuihuo_flg='0'
       order by item_id,item_guige,item_yanse
  </select>
  <!-- 发货时MSG订单查询用 -->
  <select id="getOrderSendFahuoMSG" resultType="map" >
        SELECT 
			t1.order_id,
  			t1.gongsi_id,
			t2.gongsi_name,
			t1.wuliu_code,
			t1.item_id,
			t1.item_guige,
			t1.item_yanse,
			t1.tuihuo_flg
        FROM
        	t_order_detail t1
        LEFT OUTER JOIN t_wuliu_gongsi t2 ON t1.gongsi_id = t2.gongsi_id
        WHERE
        	t1.tuihuo_flg = "0"
        AND t1.status != msg_status
        ORDER BY
        	t1.order_id,
        	t1.gongsi_id,
        	t1.wuliu_code
  </select>
  
  
  
  
</mapper>