<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.abs.mobile.dao.TOrderMapper" >
  <resultMap id="BaseResultMap" type="com.abs.mobile.domain.TOrder" >
    <id column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="order_zhifu_id" property="orderZhifuId" jdbcType="VARCHAR" />
    <result column="order_date" property="orderDate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="user_lv" property="userLv" jdbcType="VARCHAR" />
    <result column="address_id" property="addressId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="address_full" property="addressFull" jdbcType="VARCHAR" />
    <result column="totle_price" property="totlePrice" jdbcType="DECIMAL" />
    <result column="wuliu_yunfei" property="wuliuYunfei" jdbcType="DECIMAL" />
    <result column="yhq_flg" property="yhqFlg" jdbcType="CHAR" />
    <result column="yhq_code" property="yhqCode" jdbcType="INTEGER" />
    <result column="jifen_flg" property="jifenFlg" jdbcType="CHAR" />
    <result column="jifen_dixiao" property="jifenDixiao" jdbcType="DECIMAL" />
    <result column="shiji_price" property="shijiPrice" jdbcType="DECIMAL" />
    <result column="p_open_id" property="pOpenId" jdbcType="VARCHAR" />
    <result column="p_user_lv" property="pUserLv" jdbcType="VARCHAR" />
    <result column="cost" property="cost" jdbcType="DECIMAL" />
    <result column="lv00_lirun" property="lv00Lirun" jdbcType="DECIMAL" />
    <result column="lv01_lirun" property="lv01Lirun" jdbcType="DECIMAL" />
    <result column="lv02_lirun" property="lv02Lirun" jdbcType="DECIMAL" />
    <result column="del_flg" property="delFlg" jdbcType="CHAR" />
    <result column="c_date" property="cDate" jdbcType="TIMESTAMP" />
    <result column="c_user" property="cUser" jdbcType="VARCHAR" />
    <result column="u_date" property="uDate" jdbcType="TIMESTAMP" />
    <result column="u_user" property="uUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, order_zhifu_id, order_date, status, open_id, user_lv, address_id, name, 
    tel, address_full, totle_price, wuliu_yunfei, yhq_flg, yhq_code, jifen_flg, jifen_dixiao, 
    shiji_price, p_open_id, p_user_lv, cost, lv00_lirun, lv01_lirun, lv02_lirun, del_flg, 
    c_date, c_user, u_date, u_user
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.abs.mobile.domain.TOrder" >
    insert into t_order (order_id, order_zhifu_id, order_date, 
      status, open_id, user_lv, 
      address_id, name, tel, 
      address_full, totle_price, wuliu_yunfei, 
      yhq_flg, yhq_code, jifen_flg, 
      jifen_dixiao, shiji_price, p_open_id, 
      p_user_lv, cost, lv00_lirun, 
      lv01_lirun, lv02_lirun, del_flg, 
      c_date, c_user, u_date, 
      u_user)
    values (#{orderId,jdbcType=VARCHAR}, #{orderZhifuId,jdbcType=VARCHAR}, #{orderDate,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, #{userLv,jdbcType=VARCHAR}, 
      #{addressId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{addressFull,jdbcType=VARCHAR}, #{totlePrice,jdbcType=DECIMAL}, #{wuliuYunfei,jdbcType=DECIMAL}, 
      #{yhqFlg,jdbcType=CHAR}, #{yhqCode,jdbcType=INTEGER}, #{jifenFlg,jdbcType=CHAR}, 
      #{jifenDixiao,jdbcType=DECIMAL}, #{shijiPrice,jdbcType=DECIMAL}, #{pOpenId,jdbcType=VARCHAR}, 
      #{pUserLv,jdbcType=VARCHAR}, #{cost,jdbcType=DECIMAL}, #{lv00Lirun,jdbcType=DECIMAL}, 
      #{lv01Lirun,jdbcType=DECIMAL}, #{lv02Lirun,jdbcType=DECIMAL}, #{delFlg,jdbcType=CHAR}, 
      #{cDate,jdbcType=TIMESTAMP}, #{cUser,jdbcType=VARCHAR}, #{uDate,jdbcType=TIMESTAMP}, 
      #{uUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.abs.mobile.domain.TOrder" >
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderZhifuId != null" >
        order_zhifu_id,
      </if>
      <if test="orderDate != null" >
        order_date,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="userLv != null" >
        user_lv,
      </if>
      <if test="addressId != null" >
        address_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="addressFull != null" >
        address_full,
      </if>
      <if test="totlePrice != null" >
        totle_price,
      </if>
      <if test="wuliuYunfei != null" >
        wuliu_yunfei,
      </if>
      <if test="yhqFlg != null" >
        yhq_flg,
      </if>
      <if test="yhqCode != null" >
        yhq_code,
      </if>
      <if test="jifenFlg != null" >
        jifen_flg,
      </if>
      <if test="jifenDixiao != null" >
        jifen_dixiao,
      </if>
      <if test="shijiPrice != null" >
        shiji_price,
      </if>
      <if test="pOpenId != null" >
        p_open_id,
      </if>
      <if test="pUserLv != null" >
        p_user_lv,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="lv00Lirun != null" >
        lv00_lirun,
      </if>
      <if test="lv01Lirun != null" >
        lv01_lirun,
      </if>
      <if test="lv02Lirun != null" >
        lv02_lirun,
      </if>
      <if test="delFlg != null" >
        del_flg,
      </if>
      <if test="cDate != null" >
        c_date,
      </if>
      <if test="cUser != null" >
        c_user,
      </if>
      <if test="uDate != null" >
        u_date,
      </if>
      <if test="uUser != null" >
        u_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderZhifuId != null" >
        #{orderZhifuId,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null" >
        #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="userLv != null" >
        #{userLv,jdbcType=VARCHAR},
      </if>
      <if test="addressId != null" >
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="addressFull != null" >
        #{addressFull,jdbcType=VARCHAR},
      </if>
      <if test="totlePrice != null" >
        #{totlePrice,jdbcType=DECIMAL},
      </if>
      <if test="wuliuYunfei != null" >
        #{wuliuYunfei,jdbcType=DECIMAL},
      </if>
      <if test="yhqFlg != null" >
        #{yhqFlg,jdbcType=CHAR},
      </if>
      <if test="yhqCode != null" >
        #{yhqCode,jdbcType=INTEGER},
      </if>
      <if test="jifenFlg != null" >
        #{jifenFlg,jdbcType=CHAR},
      </if>
      <if test="jifenDixiao != null" >
        #{jifenDixiao,jdbcType=DECIMAL},
      </if>
      <if test="shijiPrice != null" >
        #{shijiPrice,jdbcType=DECIMAL},
      </if>
      <if test="pOpenId != null" >
        #{pOpenId,jdbcType=VARCHAR},
      </if>
      <if test="pUserLv != null" >
        #{pUserLv,jdbcType=VARCHAR},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=DECIMAL},
      </if>
      <if test="lv00Lirun != null" >
        #{lv00Lirun,jdbcType=DECIMAL},
      </if>
      <if test="lv01Lirun != null" >
        #{lv01Lirun,jdbcType=DECIMAL},
      </if>
      <if test="lv02Lirun != null" >
        #{lv02Lirun,jdbcType=DECIMAL},
      </if>
      <if test="delFlg != null" >
        #{delFlg,jdbcType=CHAR},
      </if>
      <if test="cDate != null" >
        #{cDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null" >
        #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="uDate != null" >
        #{uDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uUser != null" >
        #{uUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.abs.mobile.domain.TOrder" >
    update t_order
    <set >
      <if test="orderZhifuId != null" >
        order_zhifu_id = #{orderZhifuId,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null" >
        order_date = #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="userLv != null" >
        user_lv = #{userLv,jdbcType=VARCHAR},
      </if>
      <if test="addressId != null" >
        address_id = #{addressId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="addressFull != null" >
        address_full = #{addressFull,jdbcType=VARCHAR},
      </if>
      <if test="totlePrice != null" >
        totle_price = #{totlePrice,jdbcType=DECIMAL},
      </if>
      <if test="wuliuYunfei != null" >
        wuliu_yunfei = #{wuliuYunfei,jdbcType=DECIMAL},
      </if>
      <if test="yhqFlg != null" >
        yhq_flg = #{yhqFlg,jdbcType=CHAR},
      </if>
      <if test="yhqCode != null" >
        yhq_code = #{yhqCode,jdbcType=INTEGER},
      </if>
      <if test="jifenFlg != null" >
        jifen_flg = #{jifenFlg,jdbcType=CHAR},
      </if>
      <if test="jifenDixiao != null" >
        jifen_dixiao = #{jifenDixiao,jdbcType=DECIMAL},
      </if>
      <if test="shijiPrice != null" >
        shiji_price = #{shijiPrice,jdbcType=DECIMAL},
      </if>
      <if test="pOpenId != null" >
        p_open_id = #{pOpenId,jdbcType=VARCHAR},
      </if>
      <if test="pUserLv != null" >
        p_user_lv = #{pUserLv,jdbcType=VARCHAR},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=DECIMAL},
      </if>
      <if test="lv00Lirun != null" >
        lv00_lirun = #{lv00Lirun,jdbcType=DECIMAL},
      </if>
      <if test="lv01Lirun != null" >
        lv01_lirun = #{lv01Lirun,jdbcType=DECIMAL},
      </if>
      <if test="lv02Lirun != null" >
        lv02_lirun = #{lv02Lirun,jdbcType=DECIMAL},
      </if>
      <if test="delFlg != null" >
        del_flg = #{delFlg,jdbcType=CHAR},
      </if>
      <if test="cDate != null" >
        c_date = #{cDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cUser != null" >
        c_user = #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="uDate != null" >
        u_date = #{uDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uUser != null" >
        u_user = #{uUser,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.abs.mobile.domain.TOrder" >
    update t_order
    set order_zhifu_id = #{orderZhifuId,jdbcType=VARCHAR},
      order_date = #{orderDate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      open_id = #{openId,jdbcType=VARCHAR},
      user_lv = #{userLv,jdbcType=VARCHAR},
      address_id = #{addressId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      address_full = #{addressFull,jdbcType=VARCHAR},
      totle_price = #{totlePrice,jdbcType=DECIMAL},
      wuliu_yunfei = #{wuliuYunfei,jdbcType=DECIMAL},
      yhq_flg = #{yhqFlg,jdbcType=CHAR},
      yhq_code = #{yhqCode,jdbcType=INTEGER},
      jifen_flg = #{jifenFlg,jdbcType=CHAR},
      jifen_dixiao = #{jifenDixiao,jdbcType=DECIMAL},
      shiji_price = #{shijiPrice,jdbcType=DECIMAL},
      p_open_id = #{pOpenId,jdbcType=VARCHAR},
      p_user_lv = #{pUserLv,jdbcType=VARCHAR},
      cost = #{cost,jdbcType=DECIMAL},
      lv00_lirun = #{lv00Lirun,jdbcType=DECIMAL},
      lv01_lirun = #{lv01Lirun,jdbcType=DECIMAL},
      lv02_lirun = #{lv02Lirun,jdbcType=DECIMAL},
      del_flg = #{delFlg,jdbcType=CHAR},
      c_date = #{cDate,jdbcType=TIMESTAMP},
      c_user = #{cUser,jdbcType=VARCHAR},
      u_date = #{uDate,jdbcType=TIMESTAMP},
      u_user = #{uUser,jdbcType=VARCHAR}
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  <select id="getNewOrderId" resultType="java.lang.String">
    select 
      case 
        when date_format(CURDATE(),'%Y%m%d')> left(ifnull(MAX(order_id),0),8)
                THEN CONCAT(date_format(CURDATE(),'%Y%m%d') ,'000001')
        ELSE  ifnull(MAX(order_id),0) + 1
      END as orderId
    from t_order 
  </select>
  
  <select id="getUserOrderCount" resultType="long" parameterType="java.lang.String" >
    select
        count(t1.order_id) as count 
    from t_order t1 
    where t1.open_id=#{openId}
    and t1.`status`!='9'
  </select>
  <select id="getUserOrderList" resultType="map" parameterType="java.lang.String">
    select 
        t1.order_id,t1.order_zhifu_id,t1.`status`,date_format(t1.order_date,'%Y-%m-%d %H:%I:%S') as order_date,
        t1.shiji_price,
                CASE
                        when t1.`status`='1' then '待支付'
                        when t1.`status`='2' then '待发货'
                        when t1.`status`='3' then '已发货'
                        when t1.`status`='4' then '已收货'
                        when t1.`status`='9' then '完了'
                        else '' 
                end as status_text
    from t_order t1
    where t1.open_id=#{openId}
    order by t1.order_date desc
  </select>
</mapper>